<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="cameraId" value="0" />
    <add key="threshold" value="0,7" />
    <add key="predictionKey" value="[]"/>
    <add key="predictionUrl" value="[]"/>
  </appSettings>
</configuration>